@media (min-width: 535px) and (max-width: 824px){
	[class*="col-"]{
		width: 100%;
	}

	body{
		background-image: url(../img/dawn.png);
	}
	img{
		src= url(../img);
	}
}

@media(min-width: 200px) and (max-width: 534px){
	[class*="col-"]{
		width: 100%;
	}
	body{
		
	}
	img{
		
	}
}